.webService{
    background-color: #fff;
}

#accordion{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#accordion .card{
   border: none;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#accordion .card-header{
    width: auto;
    height: 70px;
}
#accordion .card-header div{
    display: flex;
}
#accordion .card-header i{
    color: #FF3636;
    margin-top: 10px;
    font-size: 2.5rem;
}
#accordion .card-header button{
    width: 100%;
    line-height: -1rem;
    color: #FF3636;
    text-decoration: none;
    font-weight: 600;
}

#buttonService{
    text-align: center !important;
    margin: auto !important;
    color: #fff !important;
    font-weight: 600;
    padding: 10px 40px;
    background-color: #FF3636;
    display: block;
}